.j_calendar_area { border: 1px solid #01a0d8; display: none; position: absolute; box-shadow: 5px 5px 2px #EEE; z-index: 99999; background: #FFF; }
    .j_calendar_area .j_area { float: left; }
.j_calendar { padding: 2px; }
    .j_calendar .j_calendar_title { font-size: 14px; padding: 2px 0px 2px 0px;}
        .j_calendar .j_calendar_title .j_calendar_year_month {display: inline-block; }
        .j_calendar_year_prev,.j_calendar_year_next{display:none;}
 .j_calendar_month_prev,.j_calendar_month_next {color:#01a0d8; cursor: pointer;background:url(../images/date-jt.gif) scroll no-repeat 0 0 transparent; width:20px;height:20px;display:inline-block;}
 .j_calendar_month_next{background-position:0 -30px;margin-left:50px;}

.j_calendar thead td { height: 25px; background: #01a0d8; padding: 0px 10px; font-size: 12px; color: #FFF; }
.j_calendar tbody td {text-align: center; font-size: 14px; color: #555;cursor: pointer; font-family: Georgia; }
    .j_calendar tbody td p { font-size: 10px; }
    .j_calendar tbody td:hover { background: #01a0d8; color: #FFF; }
    .j_calendar tbody td.disabled:hover { color: #CCC; }
.j_calendar tfoot td { border-top: 1px dotted #01a0d8; font-size: 12px; padding-top: 5px; }
.j_calendar .holiday { font-weight: bold; color: #F00;font-size:12px; }
.j_calendar tbody .disabled { color: #CCC; cursor: default; }
    .j_calendar tbody .disabled:hover { background: none; }


.j_calendar { float: left; margin: 0px 0px 10px 0px; }
.j_double_calendar .j_calendar_0 .j_calendar_year_next, .j_double_calendar .j_calendar_0 .j_calendar_month_next, .j_double_calendar .j_calendar_1 .j_calendar_year_prev, .j_double_calendar .j_calendar_1 .j_calendar_month_prev { display: none; }
/*.j_double_calendar .j_calendar_title .j_calendar_year_month { width: 170px; }*/

/*fix*/
.j_calendar_area .ie6bugfix {position: absolute; z-index: 1000; left: 0px; top: 0px; height: 187px;width: 218px;filter:alpha(opacity=0); }
.j_calendar_area { *border-bottom: 2px solid #01a0d8; *border-right: 2px solid #01a0d8;overflow: hidden; }
.j_double_calendar { *width:446px;_width:456px;  }
.j_double_calendar iframe.ie6bugfix { _width: 456px;_height: 187px; }
.j_calendar_area .j_area { *height: 187px;*width: 218px; }
.j_calendar{}

/*上一月，下一月样式*/
.j_calendar_0 .j_calendar .j_calendar_title .j_calendar_year_month{padding-left:50px;}
.j_calendar_1 .j_calendar .j_calendar_title{text-align:right;}
  
  
